<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.uiet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".IntentMigration"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".lifeCycle" />
        <activity android:name=".dataTransfer" />
        <activity android:name=".transfer" />
        <activity android:name=".RotateHandling" />
        <activity android:name=".SpinnerWorking" />
        <activity android:name=".fetchResultdemo" />
        <activity android:name=".menudemo" />
        <activity android:name=".ListLongPress" />
        <activity android:name=".ContextMenuDemo" />
        <activity android:name=".recycleView" />
        <activity android:name=".servicedemo" />

        <service
            android:name=".myservicedemo"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity android:name=".broadcastReceiver" />
        <activity android:name=".NotificationDemo" />
        <activity android:name=".alarmDemo" />
        <activity android:name=".asynchronousDemo" />
        <!--activity android:name=".Asynchronous" /-->
        <activity android:name=".Sqlitedemo">

        </activity>

        <provider
            android:name=".MyContentProvider"
            android:authorities="com.example.admin.uiet"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".gifActivity">

        </activity>
    </application>

</manifest>